#wrapper{
	max-width: 90%;
	margin: 0 auto;
}
body{
  background-color: aqua;
  border: solid 5px black;
  height: 1200px;
}
nav{
	text-align: center;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: center;
}
h1{
	text-align: center;
	font-family: 'Sansita Swashed', cursive;
}
.clearfix:after{
content: "";
clear: both;
display: table;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
li{
	background-color: #DE6464;
	margin: 10px;
	padding: 10px;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
}
a{
	text-decoration: none;
	color: black;
}
#toprightcolumn{
	width: 600px;
	border-left: solid black 3px;
	height: 1055px;
}
.right{
	float: right;
}
#toprow{
    height:500px;
}
h2{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	border-bottom: black dashed 3px;
	text-align: center;
}
p{
	text-align: center;
	font-family: 'Kanit', sans-serif;
	color: black;
	padding-right: 15px;
}
.bbelow{
	border-bottom: 3px solid black;
	width: 640px;
}
#lcol{
	float: left;
	width: 500px;
}
.p2{
	text-align: center;
}
.bbelow2{
	border-bottom: 3px solid black;
	width: 500px;
	padding-right: 25px;
}
.overflow{
	height: 200px;
	overflow: hidden;
	width: 200px;
}