*{
	margin: 0;
	padding: 0;
}
#wrapper{
	max-width: 90%;
	margin: 0 auto;
}
h1{
	text-align: center;
	font-size: 70px;
}
li{
	border: black solid 3px;
	display: inline;
	margin: 20px;
	padding: 10px 20px;

}
ul{
	list-style: none;
}
.flexcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav{
	background-color: red;
	padding: 35px 0px 20px 0px;
}
header{
}
section{
	background-color: purple;
	padding: 10px;
	margin: 10px;
}.lcol{
	float: left;
	width: 30%;
	border-right: 3px black solid;
	padding: 10px;
}
.rcol{
	float: left;
	width: 65%;
	padding: 10px;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}
p{
}
footer{
	text-align: center;
	background-color: red;
	font-size: 20px;
}