@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Montserrat", sans-serif;
}
#wrapper{
	max-width: 90%;
	margin: 0 auto;
}
h1{
	text-align: center;
	font-size: 70px;
	font-weight: 500;
}
h2{
	border-bottom: 3px dashed #c0c0c0;
}
li{
	border: black solid 3px;
	display: inline;
	margin: 20px;
	padding: 10px 20px;
	background-color: black;
}
ul{
	list-style: none;
}
.flexcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav{
	padding: 35px 0px 20px 0px;
}
header{
}
section{
	padding: 10px;
	margin: 10px;
}
.lcol{
	float: left;
	width: 30%;
	border-right: 3px black solid;
	padding: 10px;
}
.rcol{
	float: left;
	width: 65%;
	padding: 10px;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}
p{
	font-weight: 300;
}
footer{
	text-align: center;
	font-size: 20px;
}
a{
	text-decoration: none;
	color: white;
}
a:visited{
	color: #c0c0c0;
}
a:hover{
	color: #65c763;
}
img{
	width: 150px;
	float: left;
	padding: 20px 10px 20px 0px;
}